{% extends "base.html" %}

{% block main %}

<main role="main">
    <div class="booking-step">
    <div class="container">
        <h1>
            Make a booking
        </h1>
        <h2>
            <small class="text-muted"> {{resource.name}}</small><br>
            Select when you want this    
        </h2>
    </div>
    </div>
    <div class="container">

        <div class="calendar">
            <p>{{title}}</p>
            <p>{{thing.name}}</p>
            <p>{{thing.description}}</p>
        </div>

        <div class="calendar">
            {% for d in calendar.dates %}
                {% for r in d.resources %}
                    <p>{{ d.date }} Resource name: {{r.resourceName}}</p>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="mock-block">
            <h3>UI to display and select available slots for the resource to go here</h3>
        </div>

        <a class="btn btn-primary" href="/your-details" role="button">
            Provide your details &raquo;
        </a>

    </div> <!-- /container -->

</main>

{% endblock %}
