{% extends "base.html" %}

{% block header %}
    <link href='/css/main.css' rel='stylesheet' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/scripts/main.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          events:  function(info, successCallback, failureCallback) {
              axios.get("{{apiUrl}}/calendar/"+info.startStr.substr(0,info.startStr.indexOf("T"))+"/"+info.endStr.substr(0,info.endStr.indexOf("T"))+"/{{resource.id}}")
                  .then(function(details) {
                      var events = [];
                      details.data.dates.forEach(function(d) {
                          d.resources.forEach(function(r) {
                              r.slots.forEach(function(s) {
                                  events.push({
                                      title: r.resourceName+" - "+s.status,
                                      start: s.starts,
                                      end: s.ends,
                                      allDay: false
                                  });
                              });
                          });
                      });
                      successCallback(events);
                  })
                  .catch(failureCallback);
          }
        });
        calendar.render();
      });

    </script>
{% endblock %}

{% block main %}

<main role="main">
    <div class="booking-step">
    <div class="container">
        <h1>
            Make a booking
        </h1>
        <h2>
            <small class="text-muted">Step 2 of 3</small><br>
            Select when you want this resource
        </h2>
    </div>
    </div>
    <div class="container">

        <div class="calendar">
            <p>{{title}}</p>
            <p>{{thing.name}}</p>
            <p>{{thing.description}}</p>
        </div>

        <div id="calendar">
        </div>

        <div class="calendar">
            {% for d in calendar.dates %}
                {% for r in d.resources %}
                    <p>{{ d.date }} Resource name: {{r.resourceName}}</p>
                    {% for s in r.slots %}
                      <p>{{s.starts}} - {{s.ends}} {{s.status}}</p>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="mock-block">
            <h3>UI to display and select available slots for the resource to go here</h3>
        </div>

        <a class="btn btn-primary" href="/your-details" role="button">
            Provide your details &raquo;
        </a>

    </div> <!-- /container -->

</main>

{% endblock %}
