{% extends "base.html" %}

{% block main %}

<main role="main">
    <div class="booking-step">
    <div class="container">
        <h1>
            Make a booking
        </h1>
        <h2>
            <small class="text-muted">Step 3 of 3</small><br>
            Your details      
        </h2>
    </div>
    </div>
    <div class="container">

        <div class="mock-block">
            <h3>Form to collect email, name, notes to go here</h3>
        </div>

        <a class="btn btn-primary" href="/confirmation">Complete your booking</a>

    </div> <!-- /container -->

</main>

{% endblock %}